#cabecera { width: 960px; height: 300px; background-image: url(../img/cabecera.jpg); background-repeat: no-repeat;  margin: auto; }
body { background-image: url(../img/fondopag.jpg); }
#titulo {margin-left: 10em; margin-top: 2em; float: left; ;}
#logo img { width: 200px; margin-top:0px; margin-right: 3em; float: right;}
#menu {border-bottom: solid 4px black; text-align: center; word-spacing: 1em; margin-top: 3em; background-color:rgba(231, 253, 253, .6); width: 750px; font-size: 28px; margin-top: 7em; margin-left: 4em;}
#menu a { color: black; text-decoration: none; font-family: georgia; font-weight: bold;}
#menu a:hover {background-color: rgba(0, 0, 0, .6); color: white; text-decoration: none;}
.activo {background-color: rgba(54, 154, 254, .2); border-bottom: solid 4px gray;}

#paginaG {width: 960px; background-color: rgba(25, 2, 47, .8); margin: auto; text-align: right; height: 900px;}
#paginaG .galeria { background-color: salmon; margin-right: 1em; font-size: 30px; margin-top: 1em; padding: 5px 28px; display: inline-block;}
#paginaG a.galeria { text-decoration: none; color: black; font-weight: bold;}
#paginaG a:hover {text-decoration: underline;}

.uno {width: 30%; float: left; margin-top: 7em; margin-left: 1.9em; border: solid 1px rgba(245, 34, 89, .6); padding: 3px; background-color: rgba(255, 255, 255, .2);}
.dos {width: 60%; float: right; margin-top: 2.2em; margin-right: 1.9em; height: 188px; border: solid 1px rgba(245, 34, 89, .6); padding: 3px; background-color: rgba(255, 255, 255, .2);}
.cuatro {width: 175px; float: left; margin-top: 1em; margin-left: 1.2em; border: solid 1px rgba(245, 34, 89, .6); padding: 3px; background-color: rgba(255, 255, 255, .2);}
.cinco {width: 38%; height: 175px; float: right; margin-top: 1em; margin-right: 2em; border: solid 1px rgba(245, 34, 89, .6); padding: 3px; background-color: rgba(255, 255, 255, .2);}
.tres {width: 35%; float: left; clear: both; margin-top: 1em; margin-left: 1.9em; border: solid 1px rgba(245, 34, 89, .6); padding: 3px; background-color: rgba(255, 255, 255, .2);}
.seis { width: 55%; float: right; margin-top: 1em; margin-right: 2em; height: 188px;border: solid 1px rgba(245, 34, 89, .6); padding: 3px; background-color: rgba(255, 255, 255, .2);}





#footer { clear: both; width: 960px; background-color:rgba(244, 237, 195, .4); margin: auto; height: 120px;}
#redes { width: 60px; float: left; margin: auto; margin-left: 1em; margin-top: 0.5em;}
#textoSENA { text-align: right; display: inline-block; margin-left: 18em; margin-top: 0.5em;}